extends ./layout.pug

block contenido
  div.row.justify-content-center.mt-5.text-center
    div.col-12
      h1 Bienvenidos a FotoFacilito
      a(href="/login") Iniciar Sesión
      a.mx-3(href="/signup") Registro