extends ./layout.pug
block contenido
  h1.text-center.mt-5 Iniciar Sesión
  form(action="/sessions" method="POST")
    div.row.justify-content-center.mt-5
      div.col-3
        div.form-group
          label(for="email") Email
          input.form-control(type="text", name="email", placeholder="Email", id="email")
        div.form-group
          label(for="password") Contraseña
          input.form-control(type="password", name="password", placeholder="Contraseña", id="password")
        div.row.align-items-center
          div.col-6
            button.btn.btn-info.w-100(type='submit') Entrar
          div.col-6.text-right
            a(href='/signup') No tengo cuenta
  