extends ./layout.pug
block contenido
    form(action="/users" method="POST")
        div.row.justify-content-center.mt-5
            div.col-3
                div.form-group
                    label(for="email") Email
                    input.form-control(type="text", name="email", placeholder="Email", id="email")
                div.form-group
                    label(for="password") Contraseña
                    input.form-control(type="password", name="password", placeholder="Contraseña", id="password")
                div(class="form-group")
                    button.btn.btn-primary.w-100(type='submit') Entrar
        