extends ../../layout.pug
block contenido
  h1.text-center.mt-2.mb-5 Mis Imágenes
  
  .container
    .row
      for imagen in imagenes
        .col-4.mb-2
          .card
            img.card-img-top(src="..." alt="...")
            .card-body
              h5.card-title= imagen.title
              a.btn.btn-primary(href=`/app/imagenes/${imagen._id}/edit`) Editar

              form(action=`/app/imagenes/${imagen._id}` method="POST" style="display: inline-block;")
                input(type="hidden" name="_method" value="DELETE")              
                button.btn.btn-danger.ml-1(type="submit" ) Eliminar
